# Global
*.DS_Store
*.iml

# Android
/weather-app-android/.externalNativeBuild
/weather-app-android/build
/weather-app-android/captures
/weather-app-android/local.properties
/weather-app-android/.idea
/weather-app-android/.gradle
/weather-app-android/app/build
/weather-app-android/app/captures
/weather-app-android/app/local.properties
/weather-app-android/app/.idea
/weather-app-android/app/.gradle

# iOS
*/xcuserdata/*

# Flutter
/weather-app-flutter/.dart_tool/
/weather-app-flutter/.packages
/weather-app-flutter/.pub/
/weather-app-flutter/build/
/weather-app-flutter/.flutter-plugins
/weather-app-flutter/.idea

# Flutter Android
/weather-app-flutter/android/*.class
/weather-app-flutter/android/.gradle
/weather-app-flutter/android/local.properties
/weather-app-flutter/android/.idea/workspace.xml
/weather-app-flutter/android/.idea/libraries
/weather-app-flutter/android/build
/weather-app-flutter/android/captures
/weather-app-flutter/android/GeneratedPluginRegistrant.java

# Flutter iOS
/weather-app-flutter/ios/.idea/
/weather-app-flutter/ios/.vagrant/
/weather-app-flutter/ios/.sconsign.dblite
/weather-app-flutter/ios/.svn/

*.swp
/weather-app-flutter/ios/profile

/weather-app-flutter/ios/DerivedData/
/weather-app-flutter/ios/build/
/weather-app-flutter/ios/GeneratedPluginRegistrant.h
/weather-app-flutter/ios/GeneratedPluginRegistrant.m

/weather-app-flutter/ios/.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

/weather-app-flutter/ios/xcuserdata

*.moved-aside

*.pyc
*sync/
/weather-app-flutter/ios/Icon?
/weather-app-flutter/ios/.tags*

/weather-app-flutter/ios/Flutter/app.flx
/weather-app-flutter/ios/Flutter/app.zip
/weather-app-flutter/ios/Flutter/flutter_assets/
/weather-app-flutter/ios/Flutter/App.framework
/weather-app-flutter/ios/Flutter/Flutter.framework
/weather-app-flutter/ios/Flutter/Generated.xcconfig
/weather-app-flutter/ios/ServiceDefinitions.json

/weather-app-flutter/ios/Pods/
